<!-- START panel-->
<div data-ng-controller="FormInputController as form" class="container-fluid">
   <div class="panel panel-default">
      <h1 class="panel-heading">ADD ACTIVITY</h1>
      <div class="p">Home > Add</div>
      <div class="panel-body">
         <form method="get" action="/" novalidate="" class="form-horizontal">
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Title</label>
                  <div class="col-sm-10">
                     <input type="text" placeholder="Title" class="form-control" />
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Editor</label>
                  <div class="col-sm-10">
                     <!-- The wysiswyg toolbar buttons-->
                     <div data-role="editor-toolbar" data-target="#editor" class="btn-toolbar mb">
                        <div dropdown="dropdown" class="btn-group">
                           <a dropdown-toggle="" tooltip="Font" class="btn btn-default dropdown-toggle">
                              <em class="fa fa-font"></em><b class="caret"></b>
                           </a>
                           <ul class="dropdown-menu">
                              <li data-ng-repeat="ff in form.editorFontFamilyList"><a href="" data-edit="fontName {{ff}}" data-ng-attr-style="font-family: '{{ff}}';">{{ff}}</a>
                              </li>
                           </ul>
                        </div>
                        <div class="btn-group dropdown">
                           <button type="button" dropdown-toggle="" tooltip="Font Size" class="btn btn-default dropdown-toggle">
                              <em class="fa fa-text-height"></em><b class="caret"></b>
                           </button>
                           <ul class="dropdown-menu">
                              <li data-ng-repeat="fz in form.editorFontSizeList"><a href="" data-edit="fontSize {{fz.value}}" data-ng-attr-style="font-size: {{fz.value}};">{{fz.name}}</a>
                              </li>
                           </ul>
                        </div>
                        <div class="btn-group">
                           <a data-edit="bold" tooltip="Bold (Ctrl/Cmd+B)" class="btn btn-default">
                              <em class="fa fa-bold"></em>
                           </a>
                           <a data-edit="italic" tooltip="Italic (Ctrl/Cmd+I)" class="btn btn-default">
                              <em class="fa fa-italic"></em>
                           </a>
                           <a data-edit="strikethrough" tooltip="Strikethrough" class="btn btn-default">
                              <em class="fa fa-strikethrough"></em>
                           </a>
                           <a data-edit="underline" tooltip="Underline (Ctrl/Cmd+U)" class="btn btn-default">
                              <em class="fa fa-underline"></em>
                           </a>
                        </div>
                        <div class="btn-group">
                           <a data-edit="insertunorderedlist" tooltip="Bullet list" class="btn btn-default">
                              <em class="fa fa-list-ul"></em>
                           </a>
                           <a data-edit="insertorderedlist" tooltip="Number list" class="btn btn-default">
                              <em class="fa fa-list-ol"></em>
                           </a>
                           <a data-edit="outdent" tooltip="Reduce indent (Shift+Tab)" class="btn btn-default">
                              <em class="fa fa-dedent"></em>
                           </a>
                           <a data-edit="indent" tooltip="Indent (Tab)" class="btn btn-default">
                              <em class="fa fa-indent"></em>
                           </a>
                        </div>
                        <div class="btn-group">
                           <a data-edit="justifyleft" tooltip="Align Left (Ctrl/Cmd+L)" class="btn btn-default">
                              <em class="fa fa-align-left"></em>
                           </a>
                           <a data-edit="justifycenter" tooltip="Center (Ctrl/Cmd+E)" class="btn btn-default">
                              <em class="fa fa-align-center"></em>
                           </a>
                           <a data-edit="justifyright" tooltip="Align Right (Ctrl/Cmd+R)" class="btn btn-default">
                              <em class="fa fa-align-right"></em>
                           </a>
                           <a data-edit="justifyfull" tooltip="Justify (Ctrl/Cmd+J)" class="btn btn-default">
                              <em class="fa fa-align-justify"></em>
                           </a>
                        </div>
                        <div class="btn-group dropdown">
                           <a dropdown-toggle="" tooltip="Hyperlink" class="btn btn-default dropdown-toggle">
                              <em class="fa fa-link"></em>
                           </a>
                           <div class="dropdown-menu">
                              <div class="input-group m-l-xs m-r-xs">
                                 <input onclick="return false;" placeholder="URL" type="text" data-edit="createLink" class="form-control input-sm" />
                                 <div class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-default">Add</button>
                                 </div>
                              </div>
                           </div>
                           <a data-edit="unlink" tooltip="Remove Hyperlink" class="btn btn-default">
                              <em class="fa fa-cut"></em>
                           </a>
                        </div>
                        <div class="btn-group">
                           <a id="pictureBtn" tooltip="Insert picture (or just drag &amp; drop)" class="btn btn-default">
                              <em class="fa fa-picture-o"></em>
                           </a>
                           <input type="file" data-edit="insertImage" style="position: absolute; opacity: 0; width: 41px; height: 34px;" />
                        </div>
                        <div class="btn-group">
                           <a data-edit="undo" tooltip="Undo (Ctrl/Cmd+Z)" class="btn btn-default">
                              <em class="fa fa-undo"></em>
                           </a>
                           <a data-edit="redo" tooltip="Redo (Ctrl/Cmd+Y)" class="btn btn-default">
                              <em class="fa fa-repeat"></em>
                           </a>
                        </div>
                     </div>
                     <textarea placeholder="DETAILS..." style="height: 200px;" class="form-control"></textarea>
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Datepicker</label>
                  <div class="col-sm-10 col-lg-4">
                     <p class="input-group">
                        <input type="text" datepicker-popup="{{format}}" data-ng-model="form.dt" is-open="form.opened" min-date="false" max-date="false" datepicker-options="form.dateOptions" date-disabled="form.disabled(form.date, form.mode)" close-text="Close"
                        class="form-control" />
                        <span class="input-group-btn">
                           <button type="button" data-ng-click="form.open($event)" class="btn btn-default">
                              <em class="fa fa-calendar"></em>
                           </button>
                        </span>
                     </p>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Timepicker</label>
                  <div class="col-sm-10">
                     <timepicker data-ng-model="form.mytime" data-ng-change="form.changed()" show-meridian="form.ismeridian"></timepicker>
                     <p>Time is: {{form.mytime | date:'shortTime' }}</p>
                  </div>
               </div>
            </fieldset>
            <input type="button" value="ADD" class="btn btn-primary" />
         </form>
      </div>
   </div>
</div>
<!-- END panel-->