<h4>GENERATE REPORT</h4>
<div data-ng-controller="FormInputController as form" class="container-fluid">
   <panel class="panel-default">
      <div class="panel-heading">
         <div class="panel-body">
            <div class="form-group mb">
               <div class="col-sm-5 col-lg-3">
                  <label>Select Period</label>
                  <select chosen="" data-ng-model="state" data-ng-options="s for s in form.states" class="chosen-select input-md"></select>
               </div>
               <div class="col-sm-5 col-lg-4">
                  <label>.</label>
                  <div class="form-group">
                     <p class="input-group">
                        <button type="submit" class="btn btn-success">Generate</button>
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </panel>
</div>