<h4>MANAGE REPORT</h4>
<div data-ng-controller="FormInputController as form" class="container-fluid">
   <div class="panel panel-default">
      <div class="panel-heading">
         <div class="panel-body">
            <div class="form-group inline">
               <div class="col-sm-5 col-lg-4">
                  <label>FROM</label>
                  <p class="input-group">
                     <input type="text" datepicker-popup="{{format}}" data-ng-model="form.dt" is-open="form.opened" min-date="false" max-date="false" datepicker-options="form.dateOptions" date-disabled="form.disabled(form.date, form.mode)" close-text="Close"
                     class="form-control" />
                     <span class="input-group-btn">
                        <button type="button" data-ng-click="form.open($event)" class="btn btn-default">
                           <em class="fa fa-calendar"></em>
                        </button>
                     </span>
                  </p>
               </div>
               <div class="col-sm-5 col-lg-4">
                  <label>TO</label>
                  <p class="input-group">
                     <input type="text" datepicker-popup="{{format}}" data-ng-model="form.dt1" is-open="form.opened1" min-date="false" max-date="false" datepicker-options="form.dateOptions1" date-disabled="form.disabled1(form.date, form.mode)" close-text="Close"
                     class="form-control" />
                     <span class="input-group-btn">
                        <button type="button" data-ng-click="form.open($event)" class="btn btn-default">
                           <em class="fa fa-calendar"></em>
                        </button>
                     </span>
                  </p>
               </div>
               <div class="col-sm-5 col-lg-4"></div>
               <div class="form-group">
                  <label>.</label>
                  <p class="input-group">
                     <button type="submit" class="btn btn-danger">Search</button>
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-16">
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="panel-body">
               <div class="table-responsive">
                  <table class="table">
                     <thead>
                        <tr>
                           <th>Title</th>
                           <th>Details</th>
                           <th>Date</th>
                           <th>Actions</th>
                        </tr>
                        <tbody>
                           <tr>
                              <td>Peter</td>
                              <td>Severin</td>
                              <td>July 15</td>
                              <td> <a href="#">Edit </a><a href="#">View</a>
                              </td>
                           </tr>
                           <tr>
                              <td>Henry</td>
                              <td>Severin</td>
                              <td>July 15</td>
                              <td> <a href="#">Edit </a><a href="#">View</a>
                              </td>
                           </tr>
                           <tr>
                              <td>Olga</td>
                              <td>Severin</td>
                              <td>July 15</td>
                              <td> <a href="#">Edit <a href="#">View</a></a>
                              </td>
                           </tr>
                        </tbody>
                     </thead>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>