<h4>Reminders</h4>
<div data-ng-controller="FormInputController as form" class="container-fluid">
   <div class="row">
      <div class="col-sm-5">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4>Create Reminder</h4>
               <div class="panel-body">
                  <div class="form-group">
                     <div class="row">
                        <div class="col-sm-10 col-lg-7">
                           <p class="input-group">
                              <input type="text" placeholder="Reminder Title" autocomplete="off" class="form-control" />
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="row">
                        <div class="col-sm-10 col-lg-7">
                           <p class="input-group">
                              <input type="text" datepicker-popup="{{format}}" data-ng-model="form.dt" is-open="form.opened" min-date="false" max-date="false" datepicker-options="form.dateOptions" date-disabled="form.disabled(form.date, form.mode)" close-text="Close"
                              class="form-control" />
                              <span class="input-group-btn">
                                 <button type="button" data-ng-click="form.open($event)" class="btn btn-default">
                                    <em class="fa fa-calendar"></em>
                                 </button>
                              </span>
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="row">
                        <div class="col-sm-10 col-lg-7">
                           <p class="input-group">
                              <timepicker data-ng-model="form.mytime" data-ng-change="form.changed()" show-meridian="form.ismeridian"></timepicker>
                              <p>Remind me at {{form.mytime | date:'shortTime' }}</p>
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="row">
                        <div class="col-sm-10">
                           <button type="submit" class="btn btn-success">Create</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4>Manage Reminder</h4>
               <div class="panel-body">
                  <div class="table-responsive">
                     <table class="table">
                        <thead>
                           <tr>
                              <th>Title</th>
                              <th>Details</th>
                              <th>Date</th>
                              <th>Actions</th>
                           </tr>
                           <tbody>
                              <tr>
                                 <td>Peter</td>
                                 <td>Severin</td>
                                 <td>July 15</td>
                                 <td> <a href="#">Edit </a><a href="#">View</a>
                                 </td>
                              </tr>
                              <tr>
                                 <td>Henry</td>
                                 <td>Severin</td>
                                 <td>July 15</td>
                                 <td> <a href="#">Edit </a><a href="#">View</a>
                                 </td>
                              </tr>
                              <tr>
                                 <td>Olga</td>
                                 <td>Severin</td>
                                 <td>July 15</td>
                                 <td> <a href="#">Edit <a href="#">View</a></a>
                                 </td>
                              </tr>
                           </tbody>
                        </thead>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>