<div style="height:80%; margin-top: 8%;" class="abs-center wd-xxl">
   <h3 class="text-center">Project Z3Ro</h3>
   <p class="text-center">Version 1.1.100</p>
   <br/>
   <img data-ng-src="{{app.icon}}" alt="App Icon" class="img-circle center-block thumb90" />
   <br/>
   <div class="text-center">&copy; 2016-2019 Team Replug.</div>
   <div class="text-center">All Rights Reserved.</div>
   <br/>
   <div class="text-center mt-sm">
      <a ui-sref="page.recover" class="text-muted">
         <small>LICENSES</small>
      </a>
   </div>
</div>