h3 View Activity
  small views
   .container-fluid(ng-controller="FormInputController as form")
    .row     
       fieldset
          .form-group
            .col-sm-5.col-lg-4
              label.col-sm-3.control-label FROM
              p.input-group
                input.form-control(type='text', datepicker-popup='{{format}}', ng-model='form.dt', is-open='form.opened', min-date='false', max-date="false", datepicker-options='form.dateOptions', date-disabled='form.disabled(form.date, form.mode)', close-text='Close')
                span.input-group-btn
                  button.btn.btn-default(type='button', ng-click='form.open($event)')
                    em.fa.fa-calendar          
          .form-group
            .col-sm-5.col-lg-4
              label.col-sm-3.control-label TO
              p.input-group
                input.form-control(type='text', datepicker-popup='{{format}}', ng-model='form.dt1', is-open='form.opened1', min-date='false', max-date="false", datepicker-options='form.dateOptions1', date-disabled='form.disabled1(form.date, form.mode)', close-text='Close')
                span.input-group-btn
                  button.btn.btn-default(type='button', ng-click='form.open($event)')
                    em.fa.fa-calendar
       input(type="text" placeholder="Search" class="form-control" style="border-radius:15px; float:right; width:90px;")
          
      .col-lg-16
        .panel.panel-default
          .panel-heading
            .panel-body
              .table-responsive
                table.table
                  thead
                    tr
                      th Title
                      th Details
                      th Date
                      th Actions
                    tbody
                      tr
                        td Peter
                        td Severin
                        td July 15
                        td 
                            a(href="#") Edit 
                            a(href="#") View
                      tr
                        td Henry
                        td Severin
                        td July 15
                        td 
                            a(href="#") Edit 
                            a(href="#") View
                      tr
                        td Olga
                        td Severin
                        td July 15
                        td 
                          a(href="#") Edit 
                           a(href="#") View
