// START panel
.container-fluid(ng-controller="FormInputController as form")
  .panel.panel-default
    h2.panel-heading ADD REPORTS
    .p Home > Add
    .panel-body
      form.form-horizontal(method='get', action="/", novalidate="")
        fieldset
          .form-group
            label.col-sm-1.control-label Title
            .col-sm-8
              input.form-control(type='text', placeholder='Title')
        fieldset
          .form-group
            label.col-sm-1.control-label Editor
            .col-sm-8
              textarea(class="form-control" placeholder="DETAILS..." style="height: 200px;")
        fieldset
          .form-group
            label.col-sm-1.control-label Datepicker
            .col-sm-10.col-lg-4
              p.input-group
                input.form-control(type='text', datepicker-popup='{{format}}', ng-model='form.dt', is-open='form.opened', min-date='false', max-date="false", datepicker-options='form.dateOptions', date-disabled='form.disabled(form.date, form.mode)', close-text='Close')
                span.input-group-btn
                  button.btn.btn-default(type='button', ng-click='form.open($event)')
                    em.fa.fa-calendar
          .form-group
            label.col-sm-1.control-label Timepicker
            .col-sm-10
              timepicker(ng-model='form.mytime', ng-change='form.changed()', show-meridian='form.ismeridian')
              p Time is: {{form.mytime | date:'shortTime' }}
        fieldset
          .form-group
            label.col-sm-1.control-label
            .col-sm-10
              input(type="button" class="btn btn-primary" value="ADD")
// END panel