h3
  .pull-right
    button.btn.btn-info(type='button', data-ng-click="$state.go('app.documentation')")
      em.fa.fa-info
  | Dashboard
  small(data-ng-bind="'By David'")
.row(style='margin-left:5%;')
  .col-md-5
    .panel.panel-info
      .panel-heading
        .panel-title.bg-info
          em.icon-clock.fa-lg.pull-right.text-muted
          | Recent Activities
      // List group
      scrollable(style='padding: 5%;')
        // START timeline
        ul.timeline-alt
          li.timeline-separator(data-datetime='Today')
          // START timeline item
          li
            .timeline-badge.timeline-badge-sm.thumb-32.bg-danger
              em.fa.fa-info
            .timeline-date
              time(datetime='Just Now')
            .timeline-panel
              strong Signed Papers
          // END timeline item
          // START timeline item
          li
            .timeline-badge.timeline-badge-sm.bg-warning
              em.fa.fa-info
            .timeline-date
              time(datetime='12 Noon')
            .timeline-panel
              strong Attended SDC meeting
              .text-muted
                | .
          // END timeline item
          // START timeline item
          li
            .timeline-badge.timeline-badge-sm.bg-turquoise
              em.fa.fa-info
            .timeline-date
              time(datetime='7 AM')
            .timeline-panel
              strong Something Else
          // END timeline item
          li.timeline-separator(data-datetime='Yesterday')
          // START timeline item
          li
            .timeline-badge.timeline-badge-sm.bg-danger
              em.icon-head
            .timeline-date
              time(datetime='9am')
            .timeline-panel
              strong Met with VC
          li.timeline-separator(data-datetime='Last Week')
          li
            .timeline-badge.timeline-badge-sm.bg-warning
              em.fa.fa-info
            .timeline-date
              time(datetime='12 noon')
            .timeline-panel
              strong Attended Committee Meeting
          li.timeline-separator(data-datetime='13 FEB')
          li
            .timeline-badge.timeline-badge-sm.bg-warning
              em.fa.fa-info
            .timeline-date
              time(datetime='8 PM')
            .timeline-panel
              strong Departure Service
          // END timeline item
        // END timeline
  // ================= END THE UPCOMMING ACTIVITIES ===========
  .col-md-5
    .panel.panel-info
      .panel-heading
        .panel-title.bg-info
          em.fa.fa-calendar.fa-lg.pull-right.text-muted
          | Upcomming Events
      // List group
      scrollable(style='padding: 5%;')
        // START timeline
        ul.timeline-alt
          li.timeline-separator(data-datetime='12 JUN')
          // START timeline item
          li
            .timeline-badge.timeline-badge-sm.thumb-32.bg-danger
              em.fa.fa-info
            .timeline-date
              time(datetime='10 AM')
            .timeline-panel
              strong Client Meeting
              .text-muted Priority Level: Very Important
          // END timeline item
          // START timeline item
          li
            .timeline-badge.timeline-badge-sm.bg-warning
              em.fa.fa-info
            .timeline-date
              time(datetime='6 PM')
            .timeline-panel
              strong SDC Retreat
              .text-muted
                | Priority level: Medium.
          // END timeline item
          // START timeline item
          li
            .timeline-badge.timeline-badge-sm.bg-turquoise
              em.fa.fa-info
            .timeline-date
              time(datetime='3h')
            .timeline-panel
              strong Something Else
              .text-muted
                strong Priority level: Low
          // END timeline item
          li.timeline-separator(data-datetime='12 NOV')
          // START timeline item
          li
            .timeline-badge.timeline-badge-sm.bg-danger
              em.icon-heart
            .timeline-date
              time(datetime='9am')
            .timeline-panel
              strong Wife's Birthday
              strong
                .text-muted Priority level: High
          li.timeline-separator(data-datetime='23 NOV')
          li
            .timeline-badge.timeline-badge-sm.bg-warning
              em.fa.fa-info
            .timeline-date
              time(datetime='12 noon')
            .timeline-panel
              strong Committee Meeting
              strong
                .text-muted Priority level: Medium
          li.timeline-separator(data-datetime='28 NOV')
          li
            .timeline-badge.timeline-badge-sm.bg-warning
              em.fa.fa-info
            .timeline-date
              time(datetime='8 PM')
            .timeline-panel
              strong Departure Service
              strong
                .text-muted Priority level: Medium
          // END timeline item
        // END timeline
// ============== START KEY NOTES ================
.row(style='margin-left: 5%;')
  aside.col-md-10.fw-boxed
    .row
      .col-lg-12.col-md-6
        .panel.panel-info
          .panel-heading
            .panel-title.bg-info
              em.fa.fa-tag.fa-lg.pull-right.text-muted
              | Keynotes
          .panel-body(style=' padding: 5%;')
            li.text-danger Red badge indicates Priority Level HIgh
            li.text-warning Yellow badge indicates Priority Level Medium
            li.text-turquoise Green badge indicates Low Priority Level
            // ============== END KEY NOTES   ================
