h3 GENERATE REPORT
.row(ng-controller="GenerateFormController as form")
  .col-md-12
    form.form-validate.form-horizontal(action='#', name="formv")
      // START panel
    .col-md-12
      .panel.panel-default
        .panel-heading  generate by IMM
          .panel-title 
        .panel-body(align='center' style='margin-left:5%; padding:10%; margin-top:-5%;')
              .row
                .col-sm-9          
                  div(style="padding-left:150px;")
                   h2
                    a(href = "#") From 
                        input(type="text" placeholder="dd/mm/yy").input-md
                      a(href="#")
                        span.fa.fa-calendar
                    a  To       
                        input(type="text" placeholder="dd/mm/yy").input-md
                      a(href = "#")
                        span.fa.fa-calendar
                    br 
                    br
            
                    form
                      .col-md-12
                        button.btn.btn-info(type='button', data-ng-click="$state.go('app.documentation')").input-md GENERATE
            

