// START panel
.container-fluid(ng-controller="FormInputController as form")
  .panel.panel-default
    h2.panel-heading SETTINGS
    .panel-body
      fieldset
        .form-group
          .row
          label.col-sm-2.control-label Status
          .col-sm-2
            p Turn on/off
          .col-sm-1
            label.switch
              input(type='checkbox', checked="checked")
              span
      fieldset
        .form-group
          .row
          label.col-sm-2.control-label Update
          .col-sm-2
            p Allow auto update
          .col-sm-1
            label.switch
              input(type='checkbox', checked="checked")
              span
      fieldset
        .form-group
          .row
          label.col-sm-2.control-label Reports
          .col-sm-3
            p Send reports monthly to email
          .col-sm-1
            label.switch
              input(type='checkbox', checked="checked")
              span
      fieldset
        .form-group
          .row
          label.col-sm-2.control-label Startup
          .col-sm-3
            p Start application when windows start
          .col-sm-1
            label.switch
              input(type='checkbox', checked="checked")
              span
      fieldset
        .form-group
          .row
          label.col-sm-2.control-label Change Password
          .col-sm-3
            input.form-control(type='password', name='password', placeholder="Old password")
        .form-group
          .row
          label.col-sm-2.control-label
          .col-sm-3
            input.form-control(type='password', name='password', placeholder="New password")
        .form-group
          .row
          label.col-sm-2.control-label
          .col-sm-3
            input.form-control(type='password', name='password', placeholder="Confirm new password")
      fieldset
        .form-group
          label.col-sm-2.control-label Forgotten Password
          p We will send you instructions to reset your password.
        .form-group
          label.col-sm-2.control-label
          .col-sm-3
            form(role='form')
              .form-group.has-feedback
                input#resetInputEmail1.form-control(type='email', placeholder='Your email', autocomplete="off")
                span.fa.fa-envelope.form-control-feedback.text-muted
      fieldset
        .form-group
          label.col-sm-2.control-label Change email address
          p We will send you instructions to change your email address.
        .form-group
          label.col-sm-2.control-label
          .col-sm-3
            form(role='form')
              .form-group.has-feedback
                input#resetInputEmail1.form-control(type='email', placeholder='Your old email', autocomplete="off")
                span.fa.fa-envelope.form-control-feedback.text-muted
      fieldset
        .form-group
          label.col-sm-2.control-label
            .col-sm-10
              input(type="submit" class="btn btn-primary" value="APPLY CHANGES")
// END panel