h4 ADD REPORT
.container-fluid
  .col-md-6
    form.form-horizontal
      input(type="text", placeholder="Title", ng-model="report.title", class="form-control")
      br
      
      textarea(class="form-control", ng-model="report.content",style="height: 200px;")
      br
      .form-group 
        .col-sm-10.col-lg-6
          p.input-group
            input.form-control(type='text', datepicker-popup='{{format}}', ng-model='report.dt', is-open='opened', min-date='false', max-date="false", datepicker-options='dateOptions', date-disabled='disabled(date, mode)', close-text='Close')
            span.input-group-btn
              button.btn.btn-default(type='button', ng-click='open($event)')
                em.fa.fa-calendar
      .form-group
       .col-sm-10.col-lg-10 
        input(type="submit", ng-click="addR(report)", class="btn btn-primary", value="Add Report")
    
  .row(style='margin-left:5%;')
    .col-md-5
      .panel.panel-info
        .panel-heading
          .panel-title.bg-info
            em.icon-clock.fa-lg.pull-right.text-muted
            | Recent Reports
        // List group
        scrollable(style='padding: 5%;')
          // START timeline
          ul.timeline-alt
            li.timeline-separator(data-datetime='Today')
            // START timeline item
            li
              .timeline-badge.timeline-badge-sm.thumb-32.bg-danger
                em.fa.fa-info
              .timeline-date
                time(datetime='Just Now')
              .timeline-panel
                strong Signed Papers
            // END timeline item
            // START timeline item
            li
              .timeline-badge.timeline-badge-sm.bg-warning
                em.fa.fa-info
              .timeline-date
                time(datetime='12 Noon')
              .timeline-panel
                strong Attended SDC meeting
                .text-muted
                  | .
            // END timeline item
            // START timeline item
            li
              .timeline-badge.timeline-badge-sm.bg-turquoise
                em.fa.fa-info
              .timeline-date
                time(datetime='7 AM')
              .timeline-panel
                strong Something Else
            // END timeline item
            li.timeline-separator(data-datetime='Yesterday')
            // START timeline item
            li
              .timeline-badge.timeline-badge-sm.bg-danger
                em.icon-head
              .timeline-date
                time(datetime='9am')
              .timeline-panel
                strong Met with VC
            li.timeline-separator(data-datetime='Last Week')
            li
              .timeline-badge.timeline-badge-sm.bg-warning
                em.fa.fa-info
              .timeline-date
                time(datetime='12 noon')
              .timeline-panel
                strong Attended Committee Meeting
            li.timeline-separator(data-datetime='13 FEB')
            li
              .timeline-badge.timeline-badge-sm.bg-warning
                em.fa.fa-info
              .timeline-date
                time(datetime='8 PM')
              .timeline-panel
                strong Departure Service
            // END timeline item
          // END timeline
  // ================= END THE UPCOMMING ACTIVITIES ===========