h4 GENERATE REPORT
.container-fluid(ng-controller="FormInputController as form")
  panel.panel-default
    .panel-heading
      .panel-body
        .form-group.mb
          .col-sm-5.col-lg-3
            label Select Period
            select.chosen-select.input-md(chosen='', ng-model='state', ng-options='s for s in form.states')
          .col-sm-5.col-lg-4
            label .
            .form-group
              p.input-group
                button.btn.btn-success(type="submit") Generate
            

