h4 Reminders
.container-fluid(ng-controller="FormInputController as form")
  .row
    .col-sm-5
      .panel.panel-default
              .panel-heading 
                h4 Create Reminder
                .panel-body
                  .form-group
                    .row
                      .col-sm-10.col-lg-7
                        p.input-group
                          input.form-control(type='text', placeholder='Reminder Title', autocomplete='off')
                  .form-group
                    .row
                      .col-sm-10.col-lg-7
                        p.input-group
                          input.form-control(type='text', datepicker-popup='{{format}}', ng-model='form.dt', is-open='form.opened', min-date='false', max-date="false", datepicker-options='form.dateOptions', date-disabled='form.disabled(form.date, form.mode)', close-text='Close')
                          span.input-group-btn
                            button.btn.btn-default(type='button', ng-click='form.open($event)')
                              em.fa.fa-calendar
                  .form-group
                    .row
                      .col-sm-10.col-lg-7
                        p.input-group
                          timepicker(ng-model='form.mytime', ng-change='form.changed()', show-meridian='form.ismeridian')
                          p Remind me at {{form.mytime | date:'shortTime' }}        
                  .form-group
                    .row
                      .col-sm-10
                        button.btn.btn-success(type="submit") Create
        
    .col-sm-6
      .panel.panel-default
        .panel-heading
          h4 Manage Reminder
          .panel-body
            .table-responsive
              table.table
                thead
                  tr
                    th Title
                    th Details
                    th Date
                    th Actions
                  tbody
                    tr
                      td Peter
                      td Severin
                      td July 15
                      td 
                          a(href="#") Edit 
                          a(href="#") View
                    tr
                      td Henry
                      td Severin
                      td July 15
                      td 
                          a(href="#") Edit 
                          a(href="#") View
                    tr
                      td Olga
                      td Severin
                      td July 15
                      td 
                        a(href="#") Edit 
                         a(href="#") View
