// START panel
.container-fluid(ng-controller="FormInputController as form")
  .panel.panel-default
    .panel-body
      fieldset
        .form-group
          .row
            label.col-sm-3.control-label Reminder Notification
            .col-sm-1
              label.switch
                input(type='checkbox', checked="checked")
                span
      fieldset
        .form-group
          .row
            label.col-sm-3.control-label Allow automatic update
            .col-sm-1
              label.switch
                input(type='checkbox', checked="checked")
                span
      fieldset
        .form-group
          .row
            label.col-sm-3.control-label Send reports monthly to email
            .col-sm-1
              label.switch
                input(type='checkbox', checked="checked")
                span
      fieldset
        .form-group
          .row
            label.col-sm-3.control-label Start application when windows starts
            .col-sm-1
              label.switch
                input(type='checkbox', checked="checked")
                span
      fieldset
        .form-group
          .row
            label.col-sm-2.control-label Change Lock password
            .col-sm-3
              input.form-control(type='password', name='password', placeholder="Old password")
        .form-group
          .row
            label.col-sm-2.control-label
            .col-sm-3
              input.form-control(type='password', name='password', placeholder="New password")
      fieldset
        .form-group
          .row
            label.col-sm-2.control-label Set personal details
            .col-sm-3
              .form-group.has-feedback
                input.form-control(type='text', placeholder="Full Name", autocomplete="off")
                span.fa.fa-user.form-control-feedback.text-muted        
        .form-group
          .row
            label.col-sm-2.control-label
            .col-sm-3
              .form-group.has-feedback
                input.form-control(type='email', placeholder="Designation", autocomplete="off")
                span.fa.fa-briefcase.form-control-feedback.text-muted        
        .form-group
          .row
            label.col-sm-2.control-label
            .col-sm-3
              .form-group.has-feedback
                input.form-control(type='email', placeholder="Email Address", autocomplete="off")
                span.fa.fa-envelope.form-control-feedback.text-muted
      fieldset
        .form-group
          label.col-sm-2.control-label
            .col-sm-10
              button.btn.btn-info Save
// END panel