.abs-center.wd-xxl(style='height:80%; margin-top: 8%;')
  h3.text-center Project Z3Ro
  p.text-center Version 1.1.100
  br
  img.img-circle.center-block.thumb90(data-ng-src='{{app.icon}}', alt='App Icon')
  br
  .text-center &copy; 2016-2019 Team Replug.
  .text-center All Rights Reserved.
  br
  .text-center.mt-sm
    a.text-muted(ui-sref='page.recover')
      small LICENSES
