<!-- START panel-->
<div data-ng-controller="FormInputController as form" class="container-fluid">
   <div class="panel panel-default">
      <h2 class="panel-heading">ADD REPORTS</h2>
      <div class="p">Home > Add</div>
      <div class="panel-body">
         <form method="get" action="/" novalidate="" class="form-horizontal">
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-1 control-label">Title</label>
                  <div class="col-sm-8">
                     <input type="text" placeholder="Title" class="form-control" />
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-1 control-label">Editor</label>
                  <div class="col-sm-8">
                     <textarea placeholder="DETAILS..." style="height: 200px;" class="form-control"></textarea>
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-1 control-label">Datepicker</label>
                  <div class="col-sm-10 col-lg-4">
                     <p class="input-group">
                        <input type="text" datepicker-popup="{{format}}" data-ng-model="form.dt" is-open="form.opened" min-date="false" max-date="false" datepicker-options="form.dateOptions" date-disabled="form.disabled(form.date, form.mode)" close-text="Close"
                        class="form-control" />
                        <span class="input-group-btn">
                           <button type="button" data-ng-click="form.open($event)" class="btn btn-default">
                              <em class="fa fa-calendar"></em>
                           </button>
                        </span>
                     </p>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-1 control-label">Timepicker</label>
                  <div class="col-sm-10">
                     <timepicker data-ng-model="form.mytime" data-ng-change="form.changed()" show-meridian="form.ismeridian"></timepicker>
                     <p>Time is: {{form.mytime | date:'shortTime' }}</p>
                  </div>
               </div>
            </fieldset>
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-1 control-label"></label>
                  <div class="col-sm-10">
                     <input type="button" value="ADD" class="btn btn-primary" />
                  </div>
               </div>
            </fieldset>
         </form>
      </div>
   </div>
</div>
<!-- END panel-->