<div class="abs-center wd-xl">
   <img data-ng-src="{{lock.picture}}" alt="User Picture" class="img-circle center-block thumb80" />
   <br/>
   <form role="form" class="p">
      <div class="form-group has-feedback"></div>
      <div class="input-group">
         <input id="exampleInputPassword1" type="password" placeholder="Password" class="form-control" />
         <span class="input-group-btn">
            <button type="button" data-ng-click="$state.go('app.dashboard')" class="btn btn-info">
               <em class="fa fa-lock fa-fw"></em>
            </button>
         </span>
      </div>
   </form>
   <div class="text-center mt-sm">
      <a ui-sref="page.recover" class="text-muted">
         <small>Forgot your password?</small>
      </a>
   </div>
   <div data-ng-include="'app/pages/page-footer.html'" class="p-lg text-center"></div>
</div>