<!-- START panel-->
<div data-ng-controller="FormInputController as form" class="container-fluid">
   <div class="panel panel-default">
      <h2 class="panel-heading">SETTINGS</h2>
      <div class="panel-body">
         <fieldset>
            <div class="form-group">
               <div class="row"></div>
               <label class="col-sm-2 control-label">Status</label>
               <div class="col-sm-2">
                  <p>Turn on/off</p>
               </div>
               <div class="col-sm-1">
                  <label class="switch">
                     <input type="checkbox" checked="checked" />
                     <span></span>
                  </label>
               </div>
            </div>
         </fieldset>
         <fieldset>
            <div class="form-group">
               <div class="row"></div>
               <label class="col-sm-2 control-label">Update</label>
               <div class="col-sm-2">
                  <p>Allow auto update</p>
               </div>
               <div class="col-sm-1">
                  <label class="switch">
                     <input type="checkbox" checked="checked" />
                     <span></span>
                  </label>
               </div>
            </div>
         </fieldset>
         <fieldset>
            <div class="form-group">
               <div class="row"></div>
               <label class="col-sm-2 control-label">Reports</label>
               <div class="col-sm-3">
                  <p>Send reports monthly to email</p>
               </div>
               <div class="col-sm-1">
                  <label class="switch">
                     <input type="checkbox" checked="checked" />
                     <span></span>
                  </label>
               </div>
            </div>
         </fieldset>
         <fieldset>
            <div class="form-group">
               <div class="row"></div>
               <label class="col-sm-2 control-label">Startup</label>
               <div class="col-sm-3">
                  <p>Start application when windows start</p>
               </div>
               <div class="col-sm-1">
                  <label class="switch">
                     <input type="checkbox" checked="checked" />
                     <span></span>
                  </label>
               </div>
            </div>
         </fieldset>
         <fieldset>
            <div class="form-group">
               <div class="row"></div>
               <label class="col-sm-2 control-label">Change Password</label>
               <div class="col-sm-3">
                  <input type="password" name="password" placeholder="Old password" class="form-control" />
               </div>
            </div>
            <div class="form-group">
               <div class="row"></div>
               <label class="col-sm-2 control-label"></label>
               <div class="col-sm-3">
                  <input type="password" name="password" placeholder="New password" class="form-control" />
               </div>
            </div>
            <div class="form-group">
               <div class="row"></div>
               <label class="col-sm-2 control-label"></label>
               <div class="col-sm-3">
                  <input type="password" name="password" placeholder="Confirm new password" class="form-control" />
               </div>
            </div>
         </fieldset>
         <fieldset>
            <div class="form-group">
               <label class="col-sm-2 control-label">Forgotten Password</label>
               <p>We will send you instructions to reset your password.</p>
            </div>
            <div class="form-group">
               <label class="col-sm-2 control-label"></label>
               <div class="col-sm-3">
                  <form role="form">
                     <div class="form-group has-feedback">
                        <input id="resetInputEmail1" type="email" placeholder="Your email" autocomplete="off" class="form-control" />
                        <span class="fa fa-envelope form-control-feedback text-muted"></span>
                     </div>
                  </form>
               </div>
            </div>
         </fieldset>
         <fieldset>
            <div class="form-group">
               <label class="col-sm-2 control-label">Change email address</label>
               <p>We will send you instructions to change your email address.</p>
            </div>
            <div class="form-group">
               <label class="col-sm-2 control-label"></label>
               <div class="col-sm-3">
                  <form role="form">
                     <div class="form-group has-feedback">
                        <input id="resetInputEmail1" type="email" placeholder="Your old email" autocomplete="off" class="form-control" />
                        <span class="fa fa-envelope form-control-feedback text-muted"></span>
                     </div>
                  </form>
               </div>
            </div>
         </fieldset>
         <fieldset>
            <div class="form-group">
               <label class="col-sm-2 control-label">
                  <div class="col-sm-10">
                     <input type="submit" value="APPLY CHANGES" class="btn btn-primary" />
                  </div>
               </label>
            </div>
         </fieldset>
      </div>
   </div>
</div>
<!-- END panel-->