<h3>Tasks List
   <!-- Button trigger modal -->
   <button data-ng-click="taskctrl.modalOpen()" class="pull-right btn btn-primary">Add new Task</button>
   <!-- Modal inline template-->
   <script type="text/ng-template" id="/myModalContent.html">
      <div class="modal-header"><h4 id="myModalLabel" class="modal-title">Add new Task</h4></div><div class="modal-body"><div class="form-group"><input data-ng-trim="true" type="text" data-ng-model="theTask.title" placeholder="Task title.." required="required" class="form-control"/></div><div class="form-group"><textarea data-ng-trim="true" data-ng-model="theTask.description" placeholder="Type a description.." rows="8" class="form-control"></textarea></div></div><div class="modal-footer"><button data-ng-click="modalAddTask(theTask)" data-ng-bind="actionText()" class="btn btn-primary"> </button><button data-ng-click="modalCancel()" class="btn btn-warning">Cancel</button></div>
   </script>
</h3>
<div class="task">
   <div class="task-item-list">
      <div data-ng-show="!taskctrl.tasksList.length" class="lead text-muted text-center">Start creating a new task..</div>
      <accordion close-others="true">
         <accordion-group data-ng-repeat="item in taskctrl.tasksList" is-disabled="item.complete" class="task-item {{item.complete ? 'task-complete':''}}">
            <accordion-heading>
               <span data-ng-click="taskctrl.removeTask($index, $event)" data-ng-hide="!item.complete" class="close">
                  <em class="fa fa-times"></em>
               </span>
               <div class="inline checkbox c-checkbox">
                  <label data-ng-click="$event.stopPropagation()">
                     <input type="checkbox" data-ng-model="item.complete" id="{{'task-item-'+$index}}" data-ng-disabled="taskEdition" />
                     <span class="fa fa-check"></span>
                  </label>
               </div>
               <span data-ng-bind="item.task.title" class="task-title">Task title</span>
               <span data-ng-click="taskctrl.editTask($index, $event)" class="task-edit fa fa-pencil"></span>
            </accordion-heading>
            <p>
               <span data-ng-bind="item.task.description"></span>
               <span data-ng-if="item.task.description === ''" class="text-muted">No description</span>
            </p>
         </accordion-group>
      </accordion>
      <div class="clearfix">
         <div data-ng-if="taskctrl.tasksList.length &gt; 0" class="pull-left">
            <span>{{ taskctrl.totalTasksCompleted() }} Completed</span>-
            <span>{{ taskctrl.totalTasksPending() }} Pending</span>
         </div>
         <div data-ng-if="taskctrl.tasksList.length &gt; 0" class="pull-right">
            <button data-ng-click="taskctrl.clearAllTasks()" class="btn btn-warning btn-sm">Remove all Tasks</button>
         </div>
      </div>
   </div>
</div>